@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@layer base {
  :root {
    --toastify-color-light: #ffebcc !important;
    --toastify-color-progress-light: #a1000e !important;
    --toastify-color-progress-dark: #a1000e !important;
  }
  .Toastify__progress-bar-theme--light {
    background: #a1000e !important;
  }
  .input {
    @apply grow p-2  focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-primary border-primary shadow-md rounded-md;
  }
  html {
    font-family: Athiti;
    width: 100vw;
    overflow: hidden;
  }
}
