@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@layer base {
  :root {
    --toastify-color-light: #ffebcc !important;
    --toastify-color-progress-light: #a1000e !important;
    --toastify-color-progress-dark: #a1000e !important;
  }
  .Toastify__progress-bar-theme--light {
    background: #a1000e !important;
  }
  .lableClassName {
    @apply text-right max-lg:w-32 w-52;
  }
  .divclass {
    @apply relative flex items-center w-1/2 py-3 space-x-4 text-lg max-lg:w-full;
  }
  .input {
    @apply p-2 rounded-md shadow-md grow focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-primary border-primary;
  }
  .product-grid {
    @apply grid mt-5 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 gap-y-8;
  }
  .maindiv {
    @apply px-10 pb-20;
  }
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
  }
  .mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: #2c5282; /*@apply bg-blue-800 */
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  html {
    font-family: Athiti;
    width: 100vw;
    overflow: hidden;
  }
}
